html{
  height: 100%;
}

input{
  border: none;
  border-bottom: 1px solid #E4E4E4;
}

body{
  height: 100%;
}

label{
  color: #7B7B7B;
  font-size: 16px;
}

*,*:after, *:before{
  box-sizing: border-box;
}

#root{
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  margin-left: 2vw;
  height: 5vmin;
  min-height: 30px;
  pointer-events: none;
}

.App-header {
  position: relative;
  z-index: 10;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


ul{
  list-style: none;
}

.content{
  height: 100%;
}

.navigation-button{
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 2vmin;
  color: #fff;
  font-weight: 400;
}

.navigation-button.active{
  color: #FDBF5A;
}

.navigation-item.active{
  color: #FDBF5A;
}

.navigation-item:last-child{
  margin-right: 0;
}

.map-page{
  height: 100%;
}

.registration{
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
}


